* {
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containers-background-color {
    background-color: #eef4fd;
}
/* country container */
.radio-input {
    display: none;
}
/* covers the following sections:
Where do you live?
How much is your property currently worth?
How much do you have left to pay on your mortgage?
To the nearest year, how many years remain on your mortgage?
 */
.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 30px;
    border-radius: 2px;
    width: 80%;
    box-shadow: 2px 2px 2px 1px grey;
    margin-bottom: 30px;
}

.card-container legend {
    margin-bottom: 20px;
    font-weight: bold;
}

.select-region-container-card {
    display:flex;
    flex-wrap: wrap;
    margin: -10px;
}

.radio-input-label {
    text-align: center;
    flex: 1 1 160px;
    margin: 5px;
    padding: 10px 30px;
    box-shadow: inset 0px -1px 2px 1px grey;
    border: 1px solid grey;
    border-radius: 2px;
}

.radio-input-label:hover {
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 2px;
    cursor: grab;
}

.select-region-container-card input[type="radio"]:checked+label {
    background-color: rgb(14, 75, 167);
    color: white;
}
/* how much is your property worth section */
.card-title {
    font-weight: bold;
}

.card-help-text {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
}

.card-input-container {
    position: relative;
    margin-top: 20px;
}

.card-input-container-label{
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 15px;
    padding-right: 8px;
}
/* removes the end up and down arrows */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-input-container-input-field {
    padding-left: calc(2ch + 12px);
    height: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    box-shadow: inset 0px -1px 2px 1px grey;
    border: 1px solid grey;
    border-radius: 2px;
}

.card-input-container-input-field:hover {
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 2px;
    cursor: grab;
}

.card-input-container-input-field:focus {
    outline: none;
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 2px;
    cursor: grab;
}

/* Covers the following sections:
How much do you have left to pay on your mortgage?
How would you like to repay your mortgage?
What type of mortgage are you looking for?
What initial deal term are you looking for?
 */
#mortgage-term-value {
    padding-left: 12px;
    width: 190px;
}

#mortgage-term-input-label{
    position: absolute;
    display: inline-block;
    left: 145px;
    top: 15px;
}

.repayment-method-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 30px;
    border-radius: 2px;
    width: 80%;
    box-shadow: 2px 2px 2px 1px grey;
    margin-bottom: 30px;
}

.repayment-method-container {
    margin-bottom: 10px;
}

.repayment-method-container-label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    flex: 1 1 160px;
    margin: 5px;
    padding: 10px 30px;
    box-shadow: inset 0px -1px 2px 1px grey;
    border: 1px solid grey;
    border-radius: 2px;
}

.repayment-method-container-label:hover {
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 2px;
    cursor: grab;
}

.repayment-method-card legend {
    font-weight: bold;
    margin: 12px;
}

.repayment-method-container input[type="radio"]:checked+label {
    background-color: rgb(14, 75, 167);
    color: white;
}

.results-button-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: end;
}

.results-button-container button {
    background-color:#0E7B0D;
    font-size: 16px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 50px;
}

.results-button-container button:hover {
    box-shadow: 1px 2px 2px 1px rgb(190, 190, 190);
}

.results-button-container button:active {
    box-shadow: none;
}

.results-button-container button i {
    margin-left: 10px;
    font-size: 20px;
}

.display-error {
    background-color: #fab7ac;
}

